{% extends 'base.html' %}

{% block title %}La Ligne 13 - Ateliers{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ateliers.css') }}">
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <h1 class="page-title">Nos Ateliers</h1>
            <p class="page-description">"Offrez des ateliers puissants et créateurs d'une plus grande cohésion de vos équipes"</p>
        </div>
    </section>

    <section class="ateliers-content">
        <div class="container">
            <div class="ateliers-categories">
                <div class="category">
                    <div class="ateliers-list">
                        <div class="atelier-item">
                            <h3 class="atelier-title">ATELIER RÔLE-MODÈLES</h3>
                            <div class="atelier-tags">
                                <span class="tag"># Emancipation</span>
                                <span class="tag"># Oser</span>
                                <span class="tag"># Performance</span>
                            </div>
                            <p class="atelier-description">
                                Un atelier permettant d'avoir les clés pour oser.
                            </p>
                            <div class="atelier-format">
                                <p>Rassemblez vos équipes féminines et/ou masculines</p>
                                <div class="atelier-details">
                                    <span class="atelier-participants">10 personnes</span>
                                    <span class="atelier-duration">2h</span>
                                </div>
                            </div>
                            <div class="atelier-benefits">
                                <h4>Cet atelier est idéal pour :</h4>
                                <ul>
                                    <li>Fédérer les équipes et créer du lien</li>
                                    <li>Développer la confiance en soi de vos collaborateurs.trices</li>
                                    <li>Permettre aux femmes et hommes de s'émanciper</li>
                                </ul>
                            </div>
                            <div class="atelier-content">
                                <h4>Atelier participatif</h4>
                                <ul>
                                    <li>Découvrez la puissance des rôles modèles</li>
                                    <li>Repartez inspirées pour inspirer à votre tour</li>
                                    <li>Repartez avec les clés pour devenir votre propre rôle modèle</li>
                                </ul>
                            </div>
                            <p class="atelier-slogan">Favoriser un climat propice à la performance !</p>
                            <p class="atelier-contact">Coach Équité Femmes&Hommes<br>audrey.rebout@laligne13.com</p>
                        </div>

                        <div class="atelier-item">
                            <h3 class="atelier-title">ATELIER LE SUPERPOUVOIR DES FEMMES</h3>
                            <div class="atelier-tags">
                                <span class="tag"># Connaissance de soi</span>
                                <span class="tag"># Optimisation</span>
                                <span class="tag"># Performance</span>
                            </div>
                            <p class="atelier-description">
                                Un atelier permettant d'avoir les clés pour performer.
                            </p>
                            <div class="atelier-format">
                                <p>Rassemblez vos équipes féminines et/ou masculines.</p>
                                <div class="atelier-details">
                                    <span class="atelier-participants">10 personnes</span>
                                    <span class="atelier-duration">2h</span>
                                </div>
                            </div>
                            <div class="atelier-benefits">
                                <h4>Cet atelier est idéal pour :</h4>
                                <ul>
                                    <li>Fédérer les équipes et créer du lien</li>
                                    <li>Développer une culture d'entreprise autour de la connaissance de soi et des autres</li>
                                    <li>Permettre aux femmes de s'émanciper et aux hommes de s'adapter</li>
                                </ul>
                            </div>
                            <div class="atelier-content">
                                <h4>Atelier participatif</h4>
                                <ul>
                                    <li>Partez à la découverte des 4 phases du cycle féminin</li>
                                    <li>Découvrez les avantages fournit par chaque phase</li>
                                    <li>Repartez avec des clés concrètes pour optimiser chaque phase au niveau pro</li>
                                </ul>
                            </div>
                            <p class="atelier-slogan">Partez à la découverte du superpouvoir des femmes !</p>
                            <p class="atelier-contact">Coach Équité Femmes&Hommes<br>audrey.rebout@laligne13.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ateliers-cta">
                <a href="{{ url_for('contact') }}" class="btn primary-btn">Prenons RDV !</a>
            </div>
        </div>
    </section>
{% endblock %}