<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog-styles.css') }}">
    <title>Créer un Blog</title>
</head>
<body>
    <div class="form-container">
        <h1>Créer un Blog</h1>
        <form action="/blogs/form" method="POST">
            <label for="title">Titre :</label>
            <input type="text" id="title" name="title" required>

            <label for="content">Contenu :</label>
            <textarea id="content" name="content" rows="5" required></textarea>

            <button type="submit">Publier</button>
        </form>
    </div>
</body>
</html>
