<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog-styles.css') }}">
    <title>Liste des Posts</title>
</head>
<body>
    <div class="blog-container">
        <h1>Liste des Blogs</h1>
        {% for blog in blogs %}
            <a href="blogs/{{ blog.id }}" style="all: unset">
            <div class="blog-post" style="cursor: pointer">
                <h2 class="blog-title">{{ blog.title }}</h2>
                <p class="blog-content">{{ blog.content }}</p>
            </div>
            </a>
        {% else %}
            <p>Aucun article de blog disponible.</p>
        {% endfor %}
    </div>
</body>
</html>
